---
layout: archive
title: "Research"
permalink: /research/
author_profile: true
---

<!-- {% include base_path %}

<!-- If publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
 -->

## Selected Publications

### 1. Feature Based Dynamic Matching
Yilun Chen, Yash Kanoria, Akshit Kumar, and Wenxin Zhang  
Major Revision at *Operations Research*  
*Proceedings of the ACM Conference on Economics and Computation (EC)*, 2023  
[**Link to paper**](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4451799)

---

### 2. Dynamic Pricing for Reusable Resources: The Power of Two Prices
Santiago R. Balseiro, Will Ma, and Wenxin Zhang
Major Revision at *Operations Research*  
[**Link to paper**](https://arxiv.org/abs/2308.13822)

---

### 3. A Gilmore-Gomory-Type Construction of Integer Programming Value Functions
Seth Brown, Temitayo Ajayi, Andrew J. Schaefer, and Wenxin Zhang
*Operations Research Letters*, 2021  
[**Link to paper**](https://www.sciencedirect.com/science/article/pii/S0167637721000602)
