---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- {% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %} -->

## Teaching Experience

**Columbia University, Teaching Assistant**

- **Revenue and Supply Chain Management**  
  *Summer 2024*

- **Operations Management (EMBA Core)**  
  *Spring 2024*

- **Managerial Statistics (EMBA Core)**  
  *Fall 2023, Fall 2022*

- **Managerial Statistics (MBA Core)**  
  *Fall 2023*

- **Healthcare Management, Design, and Strategy**  
  *Fall 2021, Fall 2022*
